<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>SIRC</title>
<link href="/static/{{css_file}}" rel="stylesheet" type="text/css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-137136-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div style="float: right;"><a href="static/help.html">help</a></div>
<div style="text-align: center">
<div class="titlelogo">
SIRC
</div>

<table>
<tr><td>Jan</td><td>Feb</td><td>Mar</td><td>Apr</td></tr>
<tr><td>May</td><td>Jun</td><td>Jul</td><td>Aug</td></tr>
<tr><td>Sep</td><td>Oct</td><td>Nov</td><td>Dec</td></tr>
</table>
