<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>SIRC</title>
<link href="/static/{{css_file}}" rel="stylesheet" type="text/css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-137136-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

window.onerror = function(message, file, line) { 
   var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message; 
   _gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]);
}

</script>
</head>
<body>
<div style="float: right;"><a href="static/help.html">help</a></div>
<div style="text-align: center">
<div class="titlelogo">
SIRC
</div>

<form class="searchform" action="/" method="GET">
<input type="text" name="q" value="{{query|escape}}" size="50" class="searchinput"><input type="submit" class="searchbutton" value="search">
</form>

</div>
{% if query %}
{% if has_results %}
{{ result_html }}
{% else %}
<p class="serps">
Sorry, there were no matches for your query.
</p>
{% endif %}
{% endif %}

</body>
</html>
