body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0.2in;
    padding-right: 0.2in;
    margin-top: 0cm;
    color: #333333;
}

.titlelogo {
    font-size: 72pt;
    font-family: Futura, Verdana, Helvetica, Georgia, san serif;
    color: rgb(255,255,255);
}

.searchinput {
    font-size: 18pt;
    font-family: Verdana, Helvetica, Georgia, san serif;
}

.searchbutton {
    font-size: 12pt;
    font-family: Verdana, Helvetica, Georgia, san serif;
}

.searchform {
}

