body {
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 0.2in;
    padding-right: 0.2in;
    color: #111111;
    font-family: Verdana, Helvetica, Georgia, san serif;
    font-size: 12pt;
}

a:link {
    color: #111111;
}

a:visited {
    color: #666666;
}

a:active {
    color: #000000;
}

a:hover {
    color: #888888;
}

.titlelogo {
    font-size: 48pt;
    font-family: Futura, Verdana, Helvetica, Georgia, san serif;
    color: #222222;
}

.searchinput {
    font-size: 18pt;
    font-family: Verdana, Helvetica, Georgia, san serif;
}

.searchbutton {
    font-size: 12pt;
    font-family: Verdana, Helvetica, Georgia, san serif;
}

.searchform {
}


.serps {
    font-family: Verdana, Helvetica, Georgia, san serif;
}

.serpdaterow {
    font-family: Verdana, Helvetica, Georgia, san serif;
    font-size: 9pt;
}

.serprow {
}

td.serpdate {
    padding-top: 0.2cm;
}

.serpchannel {
    font-family: Verdana, Helvetica, Georgia, san serif;
    font-size: 10pt;
    padding-right: 0.2cm;
    padding-left: 0.4cm;
}

.serptime {
    font-family: Courier, monospace;
    font-size: 9pt;
    padding-right: 0.3cm;
}

.serpuser {
    font-family: Courier, monospace;
    font-size: 9pt;
    text-align: right;
    padding-right: 0.12cm;
}

.serptext {
    font-family: Courier, monospace;
    font-size: 9pt;
}


.stats {
    font-family: Verdana, Helvetica, Georgia, san serif;
    font-size: 12pt;
    text-align: center;
}

.smallstats {
    font-family: Verdana, Helvetica, Georgia, san serif;
    font-size: 8pt;
    text-align: center;
    margin-top: 0.2cm;
}

.pagination {
    font-family: Verdana, Helvetica, Georgia, san serif;
    font-size: 12pt;
    text-align: center; 
    margin-top: 1cm;
}

.smallstats {
    color: #999999;
}

