.titlelogo {
    font-size: 96pt;
    font-family: Futura, Georgia, Palatino, Times New Roman, serif;
}

.searchinput {
    font-size: 18pt;
    font-family: sans-serif;
}


.serps {
    padding-left: 0.5in;
    font-family: Verdana;
}

.serpdaterow {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
}

td.serpdate {
        padding-top: 0.2cm;
}

.serpchannel {
    font-family: Courier;
    font-size: 9pt;
}

.serptime {
    font-family: Courier;
    font-size: 9pt;
}

.serpuser {
    font-family: Courier New, monospace;
    font-size: 9pt;
}

.serptext {
    font-family: Courier New, monospace;
    font-size: 9pt;
}


.stats {
    font-family: Futura;
    font-size: 14pt;
    text-align: center;
}

.pagination {
    font-family: Futura, Georgia, Palatino, Times New Roman, serif;
    font-size: 14pt;
    text-align: center; 
    margin-top: 1cm;
}
