<p class="stats">
Showing {{ start }}-{{ end }} of {{ total }} hits.
</p>

{% regroup results by date as date_list %}

<table class="serps">
{% for date in date_list %}
<tr class="serpdaterow"><td class="serpdate" colspan="4">{{ date.grouper|date:"N j, Y" }}</tr>
{% for result in date.list %}
<tr class="serprow">
<td valign="top" class="serpchannel">{{ result.record.channel|escape }}</td>
<td valign="top" class="serptime">{{ result.record.timestamp|date:"H:i:s" }}</td>
<td valign="top" class="serpuser">&lt;{{ result.record.user|escape }}&gt;</td>
<td valign="top" class="serptext">{{ result.record.text }}</td>
</tr>
{% for msg in result.record.context %}
<tr>
<td></td>
<td></td>
<td></td>
<td valign="top" class="serptext">{{ msg|escape }}</td>
</tr>
{% endfor %}
{% endfor %}
{% endfor %}
</table>

{{ pagination_html }}
